<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/TP2_H24_Code.styles.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">

@model TP2_H24_Code.Models.CatalogueMedia
@{
    ViewData["Title"] = "PageTousLesMedias";
}


<h1 class="titre-page bg-black text-light text-center rounded-3"> Tous les Medias</h1>


<div class="d-flex justify-content-md-center flex-wrap maman rounded-3">
            @foreach (Media media in Model.SetMedias)
            {
        <div class="col-lg-3 m-3 fiche-media p-2 bg-dark rounded-3">
            <div class=" figure ">
                <a href="/Utilisateurs/PageDetailleDuMedia?id=@media.Identifiant"><img src="@media.Image" height="250" width="250" class="figure-img img-fluid rounded" /></a>
                <p class="figure-caption text-light ">
                            Titre: @media.NomMedia
                        <p/>
                <p class="figure-caption text-light">
                            Album: @media.Album
                        </p>
                <p class="figure-caption text-light">
                            Auteur: @media.Auteur
                        </p>
                    </div>

                </div>
            }
        </div>
