@{
    ViewData["Title"] = "PageErreur";
}

<h1 class="titre-erreur rounded-3"> Page Inexistante</h1>
<div class="erreur">
    <div >
        <img class="img-erreur" src="~/images/icons/sad4.png" alt="sad-icon" />
    </div>
    <a class="link-underline-primary" asp-area="" asp-controller="Utilisateurs" asp-action="PageTousLesMedias">Retourner à l'accueil utilisateurs</a>
</div>

